.cart-image{
    width: 20%;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-items{
    display: flex;
    width: 95%;
    box-shadow: 0 0 6px 1px #232f3e;
    margin: 20px 0;
}

.cart-items-small-container{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.cart-items-second-small-container{
    display: flex;
    width: 50%;
    justify-content: center;
}


.cart-item-infos{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-sort-button{
    display: flex;
    flex-direction: column;
}
.cart-sort-button button{
    border: none;
    font-size: 15px;
}

.cart-item-infos h3{
    margin: 10px 0;
}

.cart-quantities{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.cart-quantities input{
    width: 30px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(1,1,1,0.5);
    padding: 0 2px;
}

.cart-quantities p{
    margin-right: 20px;
    font-size: 20px;
}

.cancel-item{
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}


@media (max-width: 768px) and (min-width: 425px) {
    .cart-item-infos h3{
        font-size: 15px;
    }
    .cart-image{
        width: 200px;
    }
    .cart-quantities p{
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .cart-item-infos h3{
        font-size: 15px;
    }
    .cart-items{
        width: 99%;
    }
    .cart-image{
        width: 100px;
    }
    .cart-quantities p{
        font-size: 15px;
    }
    .cart-items-small-container{
        width: 75%;
    }
    .cart-items-second-small-container{
        flex-direction: column-reverse;
        width: 20%;
        align-items: center;
        position: relative;
    }
    .cart-quantities{
        flex-direction: column;
    }
    .cancel-item p{
        position: absolute;
        top: 0;
        right: 0;
    }
    .cart-quantities p{
        margin: 0;
    }
}