.you-might-also-like{
   display: flex;
   flex-direction: column;
   width: 20%;
}
.you-might-also-like-image{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    cursor: pointer;
    transition: all 1s linear
}
.you-might-also-like-image:hover{
    transform: scale(1.1)
}

.headline-and-price{
    margin-top: 20px;
    text-align: center;
    font-family: "Roboto"
}

.headline-and-price h3{
    margin: 10px 0;
}

@media (max-width: 768px) and (min-width: 425px) {
   .you-might-also-like{
       width: 40%;
   }
}


@media (max-width: 425px) {
    .you-might-also-like{
        width: 100%;
    }
}