.manage-showoff{
    display: flex;
    overflow-x: auto;
    width: 100%; 
    font-family: "Roboto";
    margin-bottom: 20px;
}
.visit-store-teller{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0.5;
    transition: all 1s;
}
.visit-store-teller h2{
    line-height: 50px;
}
.scroll-arrow{
    font-size: 25px;
}
.scroll-arrow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-arrow-container p {
    font-size: 14px;
}

@media (max-width: 1024px) and (min-width: 769px) {
   
}

@media (max-width: 768px) and (min-width: 561px) {
    .visit-store-teller{
        display: none;
    }
    .manage-front-inside{
        width: 350px;
        height: 350px;
        margin-right: 20px;
    }
}

@media (max-width: 560px) and (min-width: 425px) {
    .visit-store-teller{
        display: none;
    }
    .manage-front-inside{
        width: 300px;
        height: 300px;
        margin-right: 20px;
        padding: 0 30px;
    }
    .product-image-text h3{
        line-height: 25px;
    }
}

@media (max-width: 424px) {
    .visit-store-teller{
        display: none;
    }
    .manage-front-inside{
        width: 300px;
        height: 300px;
        margin-right: 20px;
        padding: 0 30px;
    }
    .product-image-text h3{
        line-height: 25px;
        font-size: 15px;
    }
}

