.manage-showoff{
    display: flex;
    overflow-x: auto;
    width: 100%; 
    font-family: "Roboto";
    margin-bottom: 50px;
    /* position: relative; */
}
.visit-store-teller{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0.5;
    transition: all 1s;
}
.visit-store-teller h2{
    line-height: 50px;
}
.scroll-arrow{
    font-size: 25px;
}
.scroll-arrow-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-arrow-container p {
    font-size: 14px;
}