.product-itself-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}
.product-itself{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;    
}
.specific-product-image-container{
    display: grid;
    grid-template-columns: auto 2fr; 
    height: 400px;
    width: 50%;
    justify-items: center;
    overflow: hidden
}
.specific-product-other-image-container{
    grid-column: 1;
    overflow-y: scroll;
    cursor: pointer;
}
.specific-product-other-image{
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px 10px 20px 10px;
}

.specific-product-image{
    grid-column: 2;
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease-in-out;
    animation: product-image-move 1s cubic-bezier(0.075, 0.82, 0.165, 1) 
}
@keyframes product-image-move{
    0%{
        transform: translateX(500px) 
    }
    75%{
        transform: translateX(-100px)
    }
    100%{
        transform: translateX(0)
    }
}

.specific-product-text-container{
    width: 50%;
    font-family: "Roboto"
}
.specific-product-descriptions .circle-icons{
    font-size: 6px;
    margin-right: 5px;
}
.specific-product-descriptions p {
    margin: 20px 0;
    line-height: 25px;
    font-size: 17px;
}
.specific-product-price{
    margin: 10px 0
}
.quantity input{
    width: 50px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    background: rgba(1,1,1,0.1);
    border: none;
}
.quantity button{
    height: 40px;
    width: 200px;
    border: none;
    background: black;
    color: white;
    font-size: 15px;
}
.specific-customer-reviews-container{
    grid-column: 2
}
.check-customer-is-review{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    align-items: center;
    background-color: rgba(1,1,1,0.3)   
}
.check-customer-is-review p {
    margin-left:20px;
}
.customer-arrows{
    margin-right: 20px;
    font-size: 20px;
}

.write-a-review-button{
    height: 30px;
    margin: 20px 0;
    border: none;
    background: black;
    color: white;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
}

.customer-is-reviewing-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.customer-is-reviewing-section input{
    width: 35%;
    height: 30px;
    font-size: 15px;
    border: 1px solid black;
    padding: 0 10px; 
}
.customer-is-reviewing-section textarea{
    width: 100%;
    height: 100px;
    margin: 20px 0;
    font-size: 15px;
    border: 1px solid black;
    padding: 0 10px; 
}

.customer-is-reviewing-section > div button{
    font-size: 15px;
    width: 100px;
    height: 30px;
    background: rgba(37, 116, 169, 1);
    border: none;
    color: white;
}