.product-images{
    width: 250px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.each-product{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.each-product h3{
    font-size: 15px;
    text-align: center;
    padding: 0 30px;
    line-height: 20px
}
.each-product p {
    text-align: center;
    line-height: 40px;
}