.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.products-container{
    display: flex;
    justify-content: space-between    
}
.options{
    width: 200px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}