.manage-front-inside{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: eachProduct;
    animation-duration: 1s;
    transition-timing-function: linear
}
@keyframes eachProduct{
    from{
        opacity: 0;
        transform: translateY(-50%)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
.product-image {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.product-image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.product-image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-image-text h3{
    text-align: center;
    line-height: 50px;
    font-size: 17px;
}
.product-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.product-heart-button{
    color: red;
    font-size: 20px;
    margin-right: 50px;
    width:15%;
    height: 40px;
    border-radius: 5px;
    background: rgba(1,1,1,0.1);
    border: 1px solid rgba(1,1,1,0.1);
    cursor: pointer;
}
.product-cart-button{
    color: darkcyan;
    font-size: 20px;
    border: none;
    background: rgba(252, 185, 65, 0.7);
    width: 15%;
    border-radius: 5px;
    cursor: pointer;
}