.user{
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto 1fr
}
.choose{
    cursor: pointer;
}
.user-image{
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
}