.user{
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: auto 1fr;
    font-family: "Roboto"
}
.choose{
    cursor: pointer;
    margin-right: 20px;
}
.choose p{
    font-size: 18px;
}
.user-image{
    grid-column: 1;
    grid-row: 1/-1;
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
}
.user-options{
    grid-column: 2/-1;
    display: flex;
    background-color: wheat
}
.info-display{
    background: whitesmoke;
}